## The the air pollution analysis

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

air_pollution = pd.read_csv("air_pollution.csv")
air_pollution.head()

  Country  Year  PM2.5_air_pollution      Deaths
0   Benin  1990            40.220135  269.191476
1   Benin  1995            38.078472  253.049072
2   Benin  2000            39.776295  239.987277
3   Benin  2005            34.328808  220.332573
4   Benin  2010            32.392971  209.059426

In [2]:
mean_deaths = np.mean(air_pollution.Deaths)

In [3]:
p = np.linspace(0, 20, 100)